node_modules
dist
dist-ssr
*.local
.vite

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build artefacts
tsconfig.tsbuildinfo
tsconfig.node.tsbuildinfo
vite.config.d.ts
vite.config.js

# Env
.env
.env.local
.env.*.local
